---
import Layout from "../../layouts/Layout.astro";
import Perfiles from "../../components/19021/Perfiles.astro";
import Postular from "../../components/19021/Postular.astro";
---

<Layout title="Trainee">
    <main>
        <Perfiles />
        <Postular />
    </main>
</Layout>