---
import Layout from "../../layouts/Layout.astro";
import Perfiles from "../../components/19021/Perfiles.astro";
import Postular from "../../components/19021/Postular.astro";
import PostularVer2 from "../../components/19021/PostularVer2.astro";
import Limite from "../../components/19021/Limite.astro";
---

<Layout title="Trainee">
    <main>
        <Perfiles />
        <Postular />
        <PostularVer2 />
        <Limite />
    </main>
</Layout>