---
import Layout from "../../layouts/Layout.astro";
import PostularVer2 from "../../components/19021/PostularVer2.astro";
---

<Layout title="Trainee">
    <main>
        <PostularVer2 />
    </main>
</Layout>