//	FUENTES

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.fontPoppinsLight{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-display: swap;
}
.fontPoppinsRegular{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-display: swap;
}
.fontPoppinsMedium{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-display: swap;
}
.fontPoppinsSemiBold{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-display: swap;
}
.fontPoppinsBold{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-display: swap;
}
.fontPoppinsExtraBold{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-display: swap;
}
%fontPoppinsLight{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-display: swap;
}
%fontPoppinsRegular{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-display: swap;
}
%fontPoppinsMedium{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-display: swap;
}
%fontPoppinsBold{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-display: swap;
}
%fontPoppinsSemiBold{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-display: swap;
}
%fontPoppinsExtraBold{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

.fontMontserratLight{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-display: swap;
}
.fontMontserratRegular{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-display: swap;
}
.fontMontserratMedium{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-display: swap;
}
.fontMontserratSemiBold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-display: swap;
}
.fontMontserratBold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-display: swap;
}
.fontMontserratExtraBold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-display: swap;
}
.fontMontserratBlack{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-display: swap;
}

%fontMontserratLight{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-display: swap;
}
%fontMontserratRegular{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-display: swap;
}
%fontMontserratMedium{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-display: swap;
}
%fontMontserratSemiBold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-display: swap;
}
%fontMontserratBold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-display: swap;
}
%fontMontserratExtraBold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-display: swap;
}
%fontMontserratBlack{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-display: swap;
}
/* Custom Fonts */