//	VARIABLES
$mainLight: #FFE200;
$mainDark: #000082;

$white: #ffffff;
$black: #000000;

$mapPadding: (
    "section": 6rem 0,
    "section-xs": 3rem 0,
);

$mapFontsize: (
    "h2": 3.6rem,
    "h2-xs": 9vw,
    "h3": 2.8rem,
    "h3-xs": 8vw,
);