---
import Layout from "../../layouts/Layout.astro";
import Accordion from "../../components/18431/Accordion.astro";
---

<Layout title="Study Tours">
    <main>
        <Accordion />
    </main>
</Layout>

