---
import Layout from "../../layouts/Layout.astro";
import Intro from "../../components/18426/Intro.astro";
import Tematica from "../../components/18426/Tematica.astro";
import Proceso from "../../components/18426/Proceso.astro";
---

<Layout title="Coneia">
    <main>
        <Intro />
        <Tematica />
        <Proceso />
    </main>
</Layout>
