---

---

<section>
    <div
        class="boxTematica border-4 border-solid rounded-2xl border-18426-mainLight p-4"
    >
        <h2 class="text-align-center text-center heading-2">
            <span class="coh-color-white">TEMÁTICA</span>
        </h2>
        <p>
            <span class="coh-color-purple-light-90">► </span><span
                class="coh-color-white"
                >Biomasa, bioenergía y economía circular</span
            >
        </p>
        <span class="coh-color-white">
            <hr
                class="border-18426-mainLight border-solid border-0 border-b-2 my-1"
            />
        </span>
        <p>
            <span class="coh-color-purple-light-90">►</span><span
                class="coh-color-white"
            >
                Agricultura regenerativa y aplicación de tecnologías de
                precisión y monitoreo</span
            >
        </p>
        <span class="coh-color-white">
            <hr
                class="border-18426-mainLight border-solid border-0 border-b-2 my-1"
            />
        </span>
        <p>
            <span class="coh-color-purple-light-90">►</span><span
                class="coh-color-white"
            >
                Innovación y producción de envases biodegradables aplicado a
                industria</span
            >
        </p>
        <span class="coh-color-white">
            <hr
                class="border-18426-mainLight border-solid border-0 border-b-2 my-1"
            />
        </span>
        <p>
            <span class="coh-color-purple-light-90">► </span><span
                class="coh-color-white"
                >Agronegocios, agroexportación y marketing para ingresar a
                nuevos mercados</span
            >
        </p>
        <span class="coh-color-white">
            <hr
                class="border-18426-mainLight border-solid border-0 border-b-2 my-1"
            />
        </span>
        <p>
            <span class="coh-color-purple-light-90">►</span><span
                class="coh-color-white"
            >
                Tecnologías emergentes para la obtención de compuestos
                bioactivos</span
            >
        </p>
        <span class="coh-color-white">
            <hr
                class="border-18426-mainLight border-solid border-0 border-b-2 my-1"
            />
        </span>
        <p>
            <span class="coh-color-purple-light-90">►</span><span
                class="coh-color-white">Evaluación sensorial de alimentos</span
            >
        </p>
        <span class="coh-color-white">
            <hr
                class="border-18426-mainLight border-solid border-0 border-b-2 my-1"
            />
        </span>
        <p>
            <span class="coh-color-purple-light-90">►</span><span
                class="coh-color-white"
            >
                El ing. Agroindustrial en el campo laboral</span
            >
        </p>
        <span class="coh-color-white">
            <hr
                class="border-18426-mainLight border-solid border-0 border-b-2 my-1"
            />
        </span>
        <p>
            <span class="coh-color-purple-light-90">►</span><span
                class="coh-color-white"
            >
                Nuevas tecnologías en conservación de alimentos mínimamente
                procesados</span
            >
        </p>
        <span class="coh-color-white">
            <hr
                class="border-18426-mainLight border-solid border-0 border-b-2 my-1"
            />
        </span>
        <p>
            <span class="coh-color-purple-light-90">►</span><span
                class="coh-color-white"
            >
                Alimentos funcionales y nutracéuticos</span
            >
        </p>
        <span class="coh-color-white">
            <hr
                class="border-18426-mainLight border-solid border-0 border-b-2 my-1"
            />
        </span>
        <p>
            <span class="coh-color-purple-light-90">►</span><span
                class="coh-color-white"
            >
                Aditivos alimentarios como mejora en los procesos</span
            >
        </p>
        <span class="coh-color-white">
            <hr
                class="border-18426-mainLight border-solid border-0 border-b-2 my-1"
            />
        </span>
        <p>
            <span class="coh-color-purple-light-90">►</span><span
                class="coh-color-white"
            >
                Tecnología e innovación de envases</span
            >
        </p>
        <span class="coh-color-white">
            <hr
                class="border-18426-mainLight border-solid border-0 border-b-2 my-1"
            />
        </span>
        <p>
            <span class="coh-color-purple-light-90">►</span><span
                class="coh-color-white"
            >
                Biotecnología agroalimentaria</span
            >
        </p>
        <span class="coh-color-white">
            <hr
                class="border-18426-mainLight border-solid border-0 border-b-2 my-1"
            />
        </span>
        <p>
            <span class="coh-color-purple-light-90">►</span><span
                class="coh-color-white"
            >
                Calidad, inocuidad y regulación alimentaria</span
            >
        </p>
        <hr
            class="border-18426-mainLight border-solid border-0 border-b-2 my-1"
        />
    </div><!-- boxTematica -->
</section>

<style lang="scss">
    @import '../../assets/scss/App.scss';
    
    .boxTematica {
        width: 1000px;
        @include laptop() {
            width: 700px;
        }
        @include tablet() {
            width: auto;
            padding: 0 1rem;
        }
        @include mobile() {
            width: auto;
            padding: 0 1rem;
        }
    }
</style>
